
.panel-title-text {
    color: white !important;
}

.sidemenu-icon::before{
    content: "" !important;
}

.uifw-widgetPanels-toolbars {
    visibility: hidden;
}

div.nz-widget-navigationArea{
    position: absolute;
    top: 45px;
    right: 15px;
    width: auto;
}
