
.panel-title-text {
    color: white !important;
}

.sidemenu-icon::before{
    content: "" !important;
}

/*.uifw-widgetPanels-toolbars {
    visibility: hidden;
}

div.nz-widget-navigationArea{
    position: absolute;
    top: 80px;
    right: 10px;
    width: auto;
}*/